@using CoStudyingPanel.Models
@using PagedList.Mvc
@using PagedList

@model IPagedList<Department>

@{
    DatabaseContext db = new DatabaseContext();
    ViewBag.Title = "Tüm Departmanlar";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int i = 1;
}

<div class="az-content-body">
    <div class="az-content-breadcrumb">
        <span>Üniversiteler</span>
        <span>Tüm Departmanlar</span>
    </div>
    <h2 class="az-content-title">Tüm Departmanlar &nbsp; <i class="fa fa-list-ol"></i></h2>

    <div class="table-responsive">
        <table class="table table-hover mg-b-0">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Üniversite Adı</th>
                    <th>Fakülte Adı</th>
                    <th>Departman Adı</th>
                    <th>Eklenme TARİHİ</th>
                    <th>İŞLEMLER</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Department item in Model)
                {

                <tr>

                    <th scope="row">@(i++)</th>

                    <td>
                        @item.Faculty.University.UniversityName

                    </td>
                    <td>@item.Faculty.FacultyName</td>
                    <td>@item.DepartmentName</td>

                    <td>@CustomTime.GetDateTimeString(item.CreatedOn)</td>
                    <td>
                        @{
                            string warning = "warning" + i;
                        }
                        <a href="" class="btn btn-with-icon btn-danger btn-rounded" data-toggle="modal" data-target="#@warning"><i class="typcn typcn-delete"></i>&nbsp; Kaldır</a>
                        <div id="@warning" class="modal fade effect-just-me">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content modal-content-demo">
                                    <div class="modal-header">
                                        <h6 class="modal-title">Uyarı Mesajı!</h6>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h6>Yapmak Üzere Olduğunuz İşlem Geri Alınamaz!</h6>
                                        <p>Departman Silme İşlemi Bir Kez Yapıldığında Geri Alınamaz! </p>
                                    </div>
                                    <div class="modal-footer">

                                        <a href="/Home/RemoveFaculty/@item.Id" type="button" class="btn btn-primary">Devam Et</a>

                                        <button type="button" class="btn btn-outline-light" data-dismiss="modal">Geri</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
                }
            </tbody>
        </table>
        <br /><br />

        <div class="offset-8" style="padding-left:15px;">

            <div class="az-content-label mg-b-5 " style="padding-left: 18px;">Toplam @Model.TotalItemCount Departman Bulundu</div>
            @if (Model.TotalItemCount > 0)
            {
                <p class="mg-b-20">Bu Sayfada @Model.FirstItemOnPage İle @Model.LastItemOnPage Arası Kayıtlar Gösteriliyor</p>

            }
            @Html.PagedListPager(Model, page => Url.Action("ListDepartments", new { page, pageSize = Model.PageSize }), new PagedListRenderOptions
       {
           MaximumPageNumbersToDisplay = 5,
           DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
           DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
           DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
           DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
           Display = PagedListDisplayMode.IfNeeded,
           DisplayEllipsesWhenNotShowingAllPageNumbers = false,
           LinkToFirstPageFormat = "««",
           LinkToPreviousPageFormat = "«",
           LinkToIndividualPageFormat = "{0}",
           LinkToNextPageFormat = "»",
           LinkToLastPageFormat = "»»",
           LiElementClasses = new string[] { "page-item" },
           UlElementClasses = new string[] { "pagination pagination-circled" }

            })
        </div>

    </div>







</div>